pandas==1.3.5
scikit-learn==1.0.2
scikit-image==0.19.3
seaborn==0.11.2
tensorflow-probability==0.16.0
tensorflow-datasets==4.5.0
tensorboard-plugin-profile==2.5.0
tf-models-official==2.6.1
tf-agents==0.13.0
networkx==2.5.1
pydot==1.4.2
wandb==0.12.10
jupyter==1.0.0
jupyterlab==3.2.9
plotly==5.5.0
statsmodels
imageio-ffmpeg==0.4.7